<form action="login" method="POST" class="form-signin">
    <div class="col-md-3">
        <div class="well">
            <div>
                <input type="text" placeholder="username" name="username" class="form-control" />
            </div>
            <br/>

            <div>
                <input type="password" placeholder="password" class="form-control" name="password" />
            </div>

            <br/>

            <div>
                <input type="submit" value="login" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>